<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <nlog>
    <targets>
      <target name="buffer" type="BufferingWrapper">
        <target name="logfile" type="File" fileName="log.txt" />
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="buffer" />
    </rules>
  </nlog>

</configuration>